<html lang="en">
<%- include('../layouts/head') %>
<body class="font-hqfont">

<div>
    <%- include('../layouts/sidebar') %>
    <div id="content" class="content">
        <div class="flex justify-center pt-8">
            <div>

            </div>
            <div>
                <table class="table-auto text-white border">
                    <tr class="border">
                        <th class="text-left pl-4">Date</th>
                        <th class="text-left pl-4">Invite code</th>
                        <th class="text-left pl-4">User</th>
                        <th class="text-left"></th>
                    </tr>
                    <tr>
                        <td class="p-4">10-7-2021 21:51</td>
                        <td class="p-4">284e924e14be6e6298dbdc916e306ffb6bdbc0b5</td>
                        <td class="p-4">Tarik</td>
                        <td class="p-4"><i class="far fa-envelope"></i></td>
                    </tr>
                </table>
            </div>
        </div>


        <!--        <ul>-->
        <!--            <% if (invites.length > 0) { %>-->
        <!--                <% invites.forEach(invite => { %>-->
        <!--                    <li><%= invite.invite %></li>-->
        <!--                <% }) %>-->
        <!--            <% } else { %>-->
        <!--                <p>You have no invites</p>-->
        <!--            <% } %>-->
        <!--        </ul>-->
    </div>
</div>
</body>
</html>