<html lang="en">
<%- include('layouts/head') %>
<body class="font-hqfont">

<div>
    <%- include('layouts/sidebar') %>
    <div id="content" class="content">
        Welcome back to HQuasar
    </div>
</div>


</body>
</html>