<html lang="en">
<%- include('../../layouts/head') %>
<body class="font-hqfont">

<div>
    <%- include('../../layouts/sidebar') %>
    <div id="content" class="content">
        <%- include('../../layouts/settings')%>
    </div>
</div>
</body>
</html>